*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.grid-container >*{
   
    border-radius: 0px;
    padding: 0px;
    text-align: center;
}

.header{   /*  encabezado */
    grid-area: header;
    background-color: white;
}

.nav{ /* menu */
    grid-area: nav;
    background-color: black;
    padding: 10px;
}

li{ /*  (li) de menu*/
    display: inline; 
}

a{ /* (a) de menu */
    text-decoration: none;
    font-size: 20px;
    padding: 30px;
    color: white;
}

a:hover{
    color: rgb(105, 105, 240);
}

.section{  /* seccion */
    grid-area: section;
    background-color: white;
    padding: 20px;
}

#articleone{ /* articulo 1 */
    
    width: 650px;
    float: left;
    padding: 10px;
    background-color: whitesmoke;
}

h1{ /* titulo de los dos articulos */
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
}

p{  /* texto del articulo 1 */
    font-family: serif;
    font-size: 20px;
}

.skate{ /* imagen del articulo 1 */
    width: 500px;
    height: 300px;
    margin: 15px;
}

#articletwo{ /* artuculo 2 */
    
    width: 650px;
    float: right;
    padding: 10px;
    background-color: whitesmoke;
}

.skate1{  /* imagen del articulo 2 */
    width: 300px;
    height: 185px;
    float: left;
    margin: 15px;
}

.skate2{  /* imagen del articulo 2 */
    width: 300px;
    height: 185px;
    float: left;
    margin: 9px;
}

.parrafo2{ /* texto del articulo 2 */
    text-align: justify;
    margin: 13px;
}

.pie{  /* footer de section */
    width: 1305px;
    height: 200px;
    float: left;
   background-color: white;
}

.logosk{ /* logo del footer de section */
    width: 200px;
    height: 200px;
    float: left;
    margin-left: 30px;
}

.sk{ /* imagen del footer de section */
    width: 1069px;
    height: 200px;
    margin-left: 5px;
}

.footer{  /* pie de la pagina */
    grid-area: footer;
    background-image: url(/blogs/imagenes_blog2/skate_footer.jpg);
}

.piepagina{ /* imagenes icono de footer */
    display: inline-block;
    padding-inline-start: 40px;
    margin-top: 80px;
}

.ppie{ /* infotmacion de cada icono */
    display: inline;
    color: white;
}

.grid-container{
    display: grid;
    gap: 0px;
    grid-template-columns: 336px 336px 336px 336px;
    grid-template-rows: 400px 40px 700px 200px;
    grid-template-areas: 
    "header header header header" 
    "nav nav nav nav" 
    "section section section section" 
    "footer footer footer footer"; 
}
/*
@media (min-width: 1080px){
    .grid-container{
        grid-template-columns: 20% 20% 20% 20%;
        grid-template-rows: 10% 5% 30% 15%;
        grid-template: 
            "header header header header" 200px
            "nav nav nav nav" 100px
            "section section section section" 500px
            "footer footer footer footer"; 200px / 
            300px auto 300px
    }
}*/